{% extends '../base/base.html' %}
{% block content %}


<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                {% if surgery_type_title is not None %}
                <h3>{{ surgery_type_title }}</h3>
                {% else %}
                <h3>Peripheral Blocks</h3>
                {% endif %}
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row" style="display: block;">
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12  ">

                <div class="x_panel">
                    {% include '../base/error_messages.html' %}

                    <h2>Search peripheral blocks</h2>
                    <input type="text" class="form-control" id="filterInputBlock" oninput="filterBlock()" placeholder="Search peripheral blocks..">
                    
                    <div class="mt-4">
                        <div class="row">
                            {% for peripheral_block in peripheral_blocks %}
                                <div class="col-4 blog" style="cursor: pointer" data-url="{% url 'user_peripheral_block' peripheral_block_id=peripheral_block.id %}" onclick="redirect(this)">
                                    <div style="height: 200px; background-color: var(--app-color-1);" class="image view view-first">
                                        
                                        {% for image in peripheral_block.images.all %}
                                            {% if forloop.first %} 
                                                <img style="width: 100%; display: block;" src="{{ image.image.url }}" alt="{{ image.title }}">
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                    
                                    <div class="caption text-center">
                                        <b>{{ peripheral_block.title }}</b>
                                        <p>{{ peripheral_block.description|truncatechars:25 }}</p>
                                    </div>  
                                </div>     
                            {% endfor %}
                        </div>
                    </div>

                    <div id="noResultsMessage" class="mt-3 d-none">
                        <p class="warning">No results found.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- /page content -->

{% endblock %}