{% load static %}
{% load custom_tags %}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
      <div class="navbar nav_title" style="border: 0;">
        <a href="/administration/dashboard" class="site_title"><i class="{{config.app_icon}}"></i> <span style="margin-left:10px;">{{config.app_syncopation}}</span></a>
      </div>

      <div class="clearfix"></div>

      <!-- menu profile quick info -->
      <div class="profile clearfix">
        <div class="profile_pic">
          <img src="{% if user.pic %}/media/{{ user.pic }}{% else %}{% static 'img/default_profile.jpg' %}{% endif %}" alt="..." class="img-circle profile_img" style="height: 60px; width: 60px; object-fit: cover;">
        </div>
        <div class="profile_info">
          <span>Bienvenido,</span>
          <h2>
            {% if user.first_name %}
                {{user.first_name|truncatechars:12}}
              {% else %}
                {{user.username|truncatechars:12}}
              {% endif %}
          </h2>
        </div>
      </div>
      <!-- /menu profile quick info -->

      <br />

   
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
          <h3>General</h3>
          <ul class="nav side-menu">
            <li><a><i class="fa-solid fa-chart-line"></i> Paneles <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/dashboard">General</a></li>
              </ul>
            </li>
            <li><a><i class="fa-solid fa-gear"></i> Configuración <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/parameters">Parámetros</a></li>
                <li><a href="/administration/logs">Registros</a></li>
              </ul>
            </li>
            <li><a><i class="fa-solid fa-feather"></i> Blog <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/posts">Todos los artículos</a></li>
                <li><a href="/administration/post-add">Añadir nuevo</a></li>
              </ul>
            </li>
            <li><a><i class="fa-solid fa-mobile-screen-button"></i> Público <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/app/dashboard">Panel de usuario</a></li>
                <li><a href="/app/mercados"> Mercados </span></a></li>
                <li><a href="/app/bolsas"> Bolsas </span></a></li>
                <li><a href="/app/empresas"> Empresas </a></li>
              </ul>
            </li>
          </ul>
        </div>

        
        <div class="menu_section">
          <h3>Contenido</h3>
          <ul class="nav side-menu">
            
            <li><a><i class="fa-solid fa-cubes"></i> Mercados <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/mercados">Todos los elementos</a></li>
                <li><a href="/administration/mercado_add">Añadir nuevo</a></li>
              </ul>
            </li>
            <li><a><i class="fa-solid fa-cube"></i> Bolsas <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/bolsas">Todos los elementos</a></li>
                <li><a href="/administration/bolsa_add">Añadir nuevo</a></li>
              </ul>
            </li>
            <li><a><i class="fa-solid fa-square"></i> Empresas <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/empresas">Todos los elementos</a></li>
                <li><a href="/administration/empresa_add">Añadir nuevo</a></li>
              </ul>
            </li>
            <li><a><i class="fa-solid fa-newspaper"></i> Noticias <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/noticias">Todos los elementos</a></li>
                <li><a href="/administration/noticia_add">Añadir nuevo</a></li>
              </ul>
            </li>
          </ul>
        </div>

        
        <div class="menu_section">
          <h3>Interacción</h3>
          <ul class="nav side-menu">
            
            <li><a><i class="fa-solid fa-users"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/users">Todos los usuarios</a></li>
                <li><a href="/administration/user_add">Añadir nuevo</a></li>
              </ul>
            </li>
            <li><a><i class="fa-brands fa-stripe-s"></i> Suscripciones <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/subscriptions">Todos los elementos</a></li>
                <li><a href="/administration/subscription_add">Añadir nuevo</a></li>
                <li><a href="/administration/assign_product">Asignar producto</a></li>
              </ul>
            </li>
            <li><a><i class="fa-solid fa-square-check"></i> Productos <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                <li><a href="/administration/products">Todos los elementos</a></li>
                <li><a href="/administration/product_add">Añadir nuevo</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>

      <!-- /menu footer buttons -->
      
      <style>
        /* Jusst affect footer buttons */
        .sidebar-footer a:hover {
          color: white;
          text-decoration: none;
        }
      </style>

      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Mi Perfil" href="/users/profile">
          <i class="fa-solid fa-user"></i>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Suscripción" href="/users/subscription">
          <i class="fa-brands fa-stripe-s"></i>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Preguntas Frecuentes" href="/app/faq/">
          <i class="fa-solid fa-circle-question"></i>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Cerrar Sesión" href="/users/exit">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>