{% extends 'users/unlogged/base.html' %}
{% block title %} Easy Regional Block {% endblock %}
{% block content %}

      <div class="login_wrapper">
        <div class="animate form login_form">
        {% if validlink %}
          <section class="login_content">
            <form method="post">
              {% csrf_token %}
              <h1>Reset Your Password</h1>
              <div>
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                
                <input id="id_new_password1" type="password" name="new_password1" autocomplete="new-password" class="form-control" maxlength="150" placeholder="Enter password" required/>
                
                <input id="id_new_password2" type="password" name="new_password2" autocomplete="new-password" class="form-control" maxlength="150" placeholder="Confirm password" required/>

              </div>
              <div>
                <button type="submit" class="btn btn-default submit">Reset password now!</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
               
                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="{{config.app_icon}}"></i> {{config.app_name}}</h1>
                  <p>©<script>document.write(new Date().getFullYear());</script> All Rights Reserved. {{config.app_name}}.<br/>Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        {% else %}
            <div class="alert alert-warning" style="text-align: -webkit-center;">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </div>
        {% endif %}
        </div>
      </div>

{% endblock content %}