{% extends 'users/unlogged/base.html' %}
{% block title %} Easy Regional Block {% endblock %}
{% block content %}
    <meta http-equiv="refresh" content="3; URL='{% url 'access' %}'" />    
        <div class="login_wrapper">
        <div class="animate form login_form">
            <div class="alert alert-info" style="text-align: -webkit-center;">
                Your password has been changed.<br/>If you are not redirected in five seconds, <a href="{% url 'access' %}">click here</a>
            </div>
        </div>
    </div>

{% endblock content %}