{% extends '../../base/base.html' %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Peripheral blocks</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" style="display: block;">

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Showing all peripheral blocks</h2>

                        {% if messages %}
                            <script>
                            function hide_message(){
                                const message_label = document.querySelector("#message");
                                message_label.style.display = "none";
                            }
                            </script>
                            {% for message in messages %}
                                <p id="message" {% if message.tags %} class="messages {{ message.tags }}"{% endif %} style="text-align: -webkit-center;color:{{config.app_color_1}};font-weight:800;margin-top:30px; margin-bottom:9px;">{{ message }} <i class="fa-solid fa-circle-xmark" onclick="hide_message()"></i></p>
                            {% endfor %}
                        {% endif %}

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">








                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title" style="width: 0%;">ID </th>
                                        <th class="column-title">Title </th>
                                        <th class="column-title">Surgery type </th>
                                        <th class="column-title">Surgical area </th>
                                        <th class="column-title" style="width: 0%;">Public </th>
                                        <th class="column-title no-link last" style="width: 0%; text-align: right !important;"><span class="nobr">Actions</span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for peripheral_block in peripheral_blocks %}
                                        <tr class="even pointer">
                                            <td>#{{peripheral_block.pk}} </td>
                                            <td>{{peripheral_block.title}} </td>
                                            <td>{{peripheral_block.surgery_type.title}}</td>
                                            <td>{{peripheral_block.surgery_type.surgical_area.title}}</td>
                                            <td>{% if peripheral_block.public %} <i class="fa-solid fa-lock-open" style="color: {{config.app_danger}}"></i> {% else %} <i class="fa-solid fa-lock" style="color: {{config.app_success}}"></i> {% endif %}</td>
                                            <td class="last" style="text-align: right !important;"><a href="#">
                                                <a href="{% url 'administration_peripheral_block_gallery' peripheral_block_id=peripheral_block.id %}"><i class="fa-regular fa-images"></i></a>
                                                <a href="{% url 'administration_peripheral_block_edit' peripheral_block_id=peripheral_block.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                                                <a href="{% url 'administration_peripheral_block_delete' peripheral_block_id=peripheral_block.id %}" onclick="return confirm('Area you sure?')"><i class="fa-solid fa-trash"></i></a>
                                            </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>







                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}