{% extends '../../base/base.html' %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Subscriptions</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" style="display: block;">

            <div class="clearfix"></div>

            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edit subscription</h2>

                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">





                        <form action="" role="form" method="POST" class="text-start">
                            {% csrf_token %}
                            
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade show active" id="general" role="tabpanel"
                                    aria-labelledby="general-tab">
                                    <div class="seccion bg-gray-100 border-radius-lg">
                                        <div class="campo-agrupado input-group input-group-outline">
                                            <div class="col-md-12 col-sm-12 title-in-tag">
                                                <div class="font-weight-bold">Associated user</div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <p class="p-class">{{ form.user }}</p>
                                            </div>
                                        </div>

                                        <div class="campo-agrupado input-group input-group-outline">
                                            <div class="col-md-12 col-sm-12 title-in-tag">
                                                <div class="font-weight-bold">Amount paid</div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <p class="p-class">{{ form.amount }}</p>
                                            </div>
                                        </div>

                                        <div class="campo-agrupado input-group input-group-outline">
                                            <div class="col-md-12 col-sm-12 title-in-tag">
                                                <div class="font-weight-bold">Currency</div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <small class="form-text text-muted">Set in general configuration parameters </small>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <p class="p-class">{{ form.currency }}</p>
                                            </div>
                                        </div>

                                        <div class="campo-agrupado input-group input-group-outline">
                                            <div class="col-md-12 col-sm-12 title-in-tag">
                                                <div class="font-weight-bold">Payment gateway</div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <p class="p-class">{{ form.payment_method }}</p>
                                            </div>
                                        </div>

                                        <div class="campo-agrupado input-group input-group-outline">
                                            <div class="col-md-12 col-sm-12 title-in-tag">
                                                <div class="font-weight-bold">Product ID</div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <small class="form-text text-muted">Self-editable. In case of subscription by Payment Gateway.</small>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <p class="p-class">{{ form.payment_product_id }}</p>
                                            </div>
                                        </div>

                                        <div class="campo-agrupado input-group input-group-outline">
                                            <div class="col-md-12 col-sm-12 title-in-tag">
                                                <div class="font-weight-bold">Payment subscription ID</div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <small class="form-text text-muted">Self-editable. In case of subscription by Payment Gateway.</small>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <p class="p-class">{{ form.payment_subscription_id }}</p>
                                            </div>
                                        </div>

                                        <div class="campo-agrupado input-group input-group-outline">
                                            <div class="col-md-12 col-sm-12 title-in-tag">
                                                <div class="font-weight-bold">Start date</div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <p class="p-class">{{ form.start_date }}</p>
                                            </div>
                                        </div>

                                        <div class="campo-agrupado input-group input-group-outline">
                                            <div class="col-md-12 col-sm-12 title-in-tag">
                                                <div class="font-weight-bold">Due date</div>
                                            </div>
                                            <div class="col-md-12 col-sm-12">
                                                <p class="p-class">{{ form.due_date }}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="text-danger">
                                {% if errors %}
                                  <ul>
                                      {% for field, errors_list in errors.items %}
                                          {% for error in errors_list %}
                                              <li style='text-align-last: left;'>{{ error }}</li>
                                          {% endfor %}
                                      {% endfor %}
                                  </ul>
                                {% endif %}
                              </div>

                              <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    Save <i class="fa-solid fa-check"></i>
                                </button>
                            </div>
                        </form>



                        <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
                        <link href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css" rel="stylesheet">
                        <script>
                          /*Use flatpicket to the calendar-datepicket*/
                        
                          // Initialize datepickets with the previous dates
                          flatpickr("#{{ form.start_date.id_for_label }}", {
                            dateFormat: "Y-m-d", // Set date format
                            defaultDate: "{{ form.start_date.value|date:'Y-m-d'|default:'' }}",
                          });
                        
                          flatpickr("#{{ form.due_date.id_for_label }}", {
                            dateFormat: "Y-m-d", // Set date format
                            defaultDate: "{{ form.due_date.value|date:'Y-m-d'|default:'' }}",
                          });
                        </script>






                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

{% endblock %}